# Modify this file to indicate which branches of the submodules
# you wish to have present by default in your SOLPS-ITER tree
# These changes should NOT be ported back to the main repository.
# Therefore, please do the following command after you edit this file:
# git update-index --skip-worktree .gitmodules
#

[submodule "B2.5"]
	path = modules/B2.5
	url = ../B2.5.git
	branch = feature/timestep-refactor
[submodule "Carre"]
	path = modules/Carre
	url = ../CARRE.git
	branch = develop
[submodule "Carre2"]
	path = modules/Carre2
	url = ../CARRE.git
	branch = feature/Carre2_wg_release
[submodule "DivGeo"]
	path = modules/DivGeo
	url = ../DivGeo.git
	branch = feature/wg_release
[submodule "Eirene"]
	path = modules/Eirene
	url = ../EIRENE.git
	branch = SOLPS_develop
[submodule "ADAS"]
	path = modules/adas
	url = ssh://git@git.iter.org/imex/amns-adas.git
	branch = .
